body{
    background-color: #0e0101;
    font-family: arial;
}
.header__container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color:  #fff;
    padding: 50px 20px 50px 20px;
}
.header__img{
    height: auto;
    width: 300px;
}
.header__title{
    font-weight: 700;
    line-height: 1.2em;
    font-size: 2.4rem;
}
.header__title > b{
    color: #239639;
}
.header__title > b:nth-child(2){
    color: #ce0011;
}
.header__subtitle{
    font-weight: 500;
    line-height: 25px;
    font-size: 1.6rem;
}
.contato__container{
    margin-bottom: 4rem;
}
.contato__inputs{
    display: flex;
    color: #fff;
    justify-content: space-around;
}
.contato__input-group{
    display: flex;
    flex-direction: column;
}
.contato__input-group > label{
    font-size: 1.3rem;
    font-weight: 600;
    letter-spacing: 0.5px;
    color: #C01724;
    padding-bottom: .5rem;
}
.contato__input-group > input{
    font-size: 1.4rem;
    width: 25vw;
    height: 40px;
    border: 1px solid #FFFFFF2B;
    padding: 15px 13px 15px 13px;
    border-radius: 5px;
    margin-bottom: 1.6rem;
    background-color: #ffffff33;
    color: #fff;
}
.contato__btn-container{
    display: flex;
    justify-content: center;
}
.contato__btn{
    font-size: 1rem;
    font-weight: 500;
    text-transform: uppercase;
    line-height: 1.2em;
    padding: 20px 25px 20px 25px;
    background: linear-gradient(270deg, #E90013, #C01724, #E90013, #C01724);
    color: #fff;
    border: none;
    border-radius: 5px;
    width: 20vw;
    height: auto;
}
.servicos__container{
    display: flex;
    gap: 1rem;
    color: #fff;
    justify-content: center;
}
.servico{
    padding: 30px 13px 30px 13px;
    border-style: solid;
    border-width: 0px 0px 1px 1px;
    border-color: #ec000096;
    background-color: #000000a1;
    background-image: radial-gradient(at top right,#ff000030 0%,#39DD9400 75%);
    cursor: pointer;
    height: auto;
    min-width: 20vw;
    border-radius: 10px;
    text-align: center;
}
.servico__descricao{
    font-size: 1.4rem;
    color: #ce0011;
    font-weight: 600;
}