body{
    background-color: #020101;
    font-family: arial;
    margin: 0px 20px 0px 20px;
}
.neon-background:hover {
    background: linear-gradient(45deg, #ce0011);
    box-shadow:
    0 0 5px #b5b5b5,
    0 0 7px #b5b5b5,
    0 0 7px #b5b5b5,
    0 0 7px #ce0011,
    0 0 7px #ce0011,
    0 0 7px #ce0011,
    0 0 7px #ce0011,
    0 0 7px #ce0011;
  }
::-webkit-scrollbar {
    width: 6px;
    background: #4b4b4b23;
}
::-webkit-scrollbar-thumb {
    background: #ce0011;
}
  
  @keyframes thumb {
    to {
      transform: initial;
    }
  }
