.header__container{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: arial;
    background-color: #000;
    color: var(--branco);
    padding-top: 3rem;
    padding-bottom: 3rem;
    text-align: center;
}
.header__title{
    font-size: 2.3rem;
    font-weight: 700;
    line-height: 1.3em;
    max-width: 690px;
    text-align: center;
}
.header__title>b{
    color: var(--amarelo);
}
.header__subtitle{
    font-size: 1.25rem;
    font-weight: 700;
    line-height: 1.3em;
    max-width: 790px;
}
.header__text-red{
    color: var(--vermelho-vivo);
    font-family: "Montserrat", Sans-serif;
    font-size: 1.1rem;
    font-weight: 600;
    line-height: 1.3em;
}
.header__text-ofertas{
    color: var(--branco);
    font-family: "Dystopian", Sans-serif;
    font-size: 1.1rem;
    font-weight: 500;
}
.header__visualizar-ofertas{
    padding: 22px 20px;
    background-color: var(--amarelo);
    color: #0C0C0C;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 600;
    border: none;
    border-radius: 40px;
    margin-bottom: 5rem;
    animation: heartbeat 1.5s ease-in-out infinite;
}
.servicos__container{
    display: flex;
    gap: 1rem;
    color: var(--branco);
    justify-content: center;
}
.servico{
    display: flex;
    gap: 2vw;
    align-items: center;
    justify-content: center;
    padding: 20px 10px 20px 10px;
    border-style: solid;
    border-width: 0px 0px 1px 1px;
    border-color: var(--vermelho-escuro);
    background-color: #000000a1;
    background-image: radial-gradient(at top right,#ff000030 0%,#39DD9400 75%);
    cursor: pointer;
    min-width: 20vw;
    border-radius: 10px;
    text-align: center;
    color: var(--vermelho-vivo);
}
.servico__logo{
    fill: var(--vermelho);
}
.servico__descricao{
    font-size: 1.4rem;
    font-weight: 600;
}
.servico:hover{
    border-color: var(--amarelo);
}
@media screen and (min-width: 320px) and (max-width: 480px){
    .header__title{
        font-size: 1.5rem;
        width: 80vw;
    }
    .header__subtitle{
        font-size: 1.1rem;
        width: 80vw;
    }
    .servico__descricao{
        font-size: 1rem;
        width: 80vw;
    }
    .servicos__container{
        flex-direction: column;
    }
    .servico{
        width: 70vw;
    }
}