body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
.garantir-hoje{
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: arial;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #000;
    border-bottom: solid 1px #e90013;
}
.garantir-hoje__text{
    color: #ffbe03;
    font-size: 1.1rem;
    font-weight: 700;
    text-transform: uppercase;
}
.garantir-hoje__button{
    padding-top: 10px;
    padding-right: 16px;
    padding-bottom: 10px;
    padding-left: 16px;
    background-color: #e90013;
    color: #fff;
    font-size: 1.1rem;
    text-transform: uppercase;
    border: none;
    border-radius: 8px;
    max-width: 20vw;
    height: 50px;
}
.header__container{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: arial;
    background-color: #000;
    color: #fff;
    padding-top: 3rem;
    padding-bottom: 3rem;
}
.header__title{
    font-size: 2.3rem;
    font-weight: 700;
    line-height: 1.3em;
    max-width: 690px;
    text-align: center;
}
.header__title>b{
    color: #ffbe03;
}
.header__subtitle{
    font-size: 1.25rem;
    font-weight: 700;
    line-height: 1.3em;
    max-width: 790px;
}
.header__text-red{
    color: #e90013;
    font-family: "Montserrat", Sans-serif;
    font-size: 1.1rem;
    font-weight: 600;
    line-height: 1.3em;
}
.header__text-ofertas{
    color: #ffffff;
    font-family: "Dystopian", Sans-serif;
    font-size: 1.1rem;
    font-weight: 500;
}
.header__visualizar-ofertas{
    padding: 10px 25px;
    width: 223px;
    height: 60px;
    background-color: #ffe05e;
    color: #0C0C0C;
    font-size: 1rem;
    font-weight: 600;
    border: none;
    border-radius: 40px;
    margin-bottom: 5rem;
}
.spot-academy{
    background-color: #000;
    color: #fff;
    padding: 2rem;
    border-bottom: solid .5px #e90013;
}
.spot-academy__title{
    color: #e90013;
    font-size: 2rem;
    font-weight: 700;
}
.spot-academy__text{
    font-size: 1.1rem;
    font-weight: 400;
    margin-bottom: .9rem;
}
.suporte{
    background-color: #000;
    color: #fff;
    padding: 2rem;
}
.suporte__title{
    color: #e90013;
    font-size: 2rem;
    font-weight: 700;
    margin: 0px 0px 15px 0px;
}
.suporte__text{
    font-size: 1.1rem;
    font-weight: 400;
    margin: 0;
}
.about-me{
    background-color: #000;
    color: #fff;
    padding: 2rem;
     border-bottom: solid 1px #e90013;
}
.about-me__title{
    color: #e90013;
    font-size: 2rem;
    font-weight: 700;
    margin: 0px 0px 15px 0px;
}
.about-me__text{
    font-size: 1.1rem;
    font-weight: 400;
    margin: 0;
}
.planos{
    color: #fff;
    background-color: #000;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-family: arial;
    gap: 4rem;
    padding: 2rem 0rem;
}
.planos__text-title{
    font-size: 2.2rem;
    font-weight: 800;
    line-height: 1.2em;
    color:#e90013;
}
.planos__text-description{
    color: #FFFFFF7A;
}
.planos__opcoes{
    width: 100%;
    display: flex;
    justify-content: space-around;
}
.opcao__card{
    width: 30vw;
    border: solid 1px #e90013;
    background-color: #0d0b0b;
    box-sizing: border-box;
    border-radius: 30px;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    align-items: center;
    line-height: 1.5;
}
.opcao__card:nth-child(1){
    border-color: #FFD700;
}
.opcao__card>img{
    width: 50%;
    height: auto;
}
.card__plano-tipo>h3{
    font-size: 1.5rem;
    font-weight: 700;
    color: #e90013;
}
.card__plano-preco>p{
    font-size: 2rem;
    font-weight: 800;
    color: #e90013;
    margin: 0;
}
.card__plano-beneficios{
    text-align: left;
    line-height: 1.8;
}
.card__button{
    background-color: #e90013;
    color: #fff;
    border: none;
    padding: 18px 20px;
    border-radius: 20px;
    width: 60%;
    font-size: 1rem;
}
