body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
.garantir-hoje{
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: arial;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #00000009;
    backdrop-filter: blur(5px);
    border-bottom: solid 1px;
    border-image: linear-gradient(90deg,rgba(242,41,130,0),#FD151B,rgba(242,41,130,0)) 1;
    position: sticky;
    top: 0;
    z-index: 1;
}
.garantir-hoje__text{
    color: #ffbe03;
    font-size: 1rem;
    font-weight: 700;
    text-transform: uppercase;
}
.garantir-hoje__button{
    padding: 12px 16px;
    background-color: #e90013;
    color: #fff;
    font-size: 1rem;
    text-transform: uppercase;
    border: none;
    border-radius: 8px;
    max-width: 20vw;
    text-decoration: none;
    transition-duration: 0.2s;
}
.garantir-hoje__button:hover{
    background-color: #fff;
    color: #e90013;
}
.main{
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.header__container{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: arial;
    background-color: #000;
    color: #fff;
    padding-top: 3rem;
    padding-bottom: 3rem;
}
.header__title{
    font-size: 2.3rem;
    font-weight: 700;
    line-height: 1.3em;
    max-width: 690px;
    text-align: center;
}
.header__title>b{
    color: #ffbe03;
}
.header__subtitle{
    font-size: 1.25rem;
    font-weight: 700;
    line-height: 1.3em;
    max-width: 790px;
}
.header__text-red{
    color: #e90013;
    font-family: "Montserrat", Sans-serif;
    font-size: 1.1rem;
    font-weight: 600;
    line-height: 1.3em;
}
.header__text-ofertas{
    color: #ffffff;
    font-family: "Dystopian", Sans-serif;
    font-size: 1.1rem;
    font-weight: 500;
}
.header__visualizar-ofertas{
    padding: 22px 20px;
    background-color: #ffe05e;
    color: #0C0C0C;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 600;
    border: none;
    border-radius: 40px;
    margin-bottom: 5rem;
    animation: heartbeat 1.5s ease-in-out infinite;
}
.spot-academy{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    background-color: #000;
    color: #fff;
    box-sizing: border-box;
    justify-content: space-around;
    padding: 2rem;
    border-bottom: solid 1px;
    border-image: linear-gradient(90deg,rgba(242,41,130,0),#FD151B,rgba(242,41,130,0)) 1;
}
.spot-academy__ilustration{
    width: 20%;
}
.spot-academy__title{
    color: #e90013;
    font-size: 2rem;
    font-weight: 700;
}
.spot-academy__text{
    font-size: 1.1rem;
    font-weight: 400;
    width: 70vw;
    margin-bottom: .9rem;
    text-align: justify;
}
.suporte{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #000;
    color: #fff;
    box-sizing: border-box;
    padding: 2rem;
    text-align: justify;
}
.suporte__ilustration{
    width: 15%;
    height: auto;
}
.suporte__title{
    color: #e90013;
    font-size: 2rem;
    font-weight: 700;
    margin: 0px 0px 15px 0px;
}
.suporte__text{
    font-size: 1.1rem;
    font-weight: 400;
    margin: 0;
    width: 70vw;
}
.about-me{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    align-items: center;
    text-align: justify;
    background-color: #000;
    color: #fff;
    padding: 2rem;
    border-bottom: solid 1px;
    border-image: linear-gradient(90deg,rgba(242,41,130,0),#FD151B,rgba(242,41,130,0)) 1;
}
.about-me__photo{
    width: 20%;
    border-radius: 10px;
}
.about-me__title{
    color: #e90013;
    font-size: 2rem;
    font-weight: 700;
    margin: 0px 0px 15px 0px;
}
.about-me__text{
    font-size: 1.1rem;
    font-weight: 400;
    margin: 0;
    width: 70vw;
}
.planos{
    color: #fff;
    background-color: #000;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-family: arial;
    gap: 4rem;
    padding: 2rem 0rem;
}
.planos__text-title{
    font-size: 2.2rem;
    font-weight: 800;
    line-height: 1.2em;
    color:#e90013;
}
.planos__text-description{
    color: #FFFFFF7A;
}
.planos__opcoes{
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 8vw;
}
.opcao__card{
    min-width: 300px;
    width: 30vw;
    border-bottom: solid 1px;
    border: 1px solid #e90013;
    background-color: #0d0b0b;
    box-sizing: border-box;
    border-radius: 30px;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    align-items: center;
    line-height: 1.5;
}
.opcao__card:hover{
    border-color: #FFD700;
}
.opcao__card>img{
    width: 50%;
    height: auto;
}
.card__plano-tipo>h3{
    font-size: 1.5rem;
    font-weight: 700;
    color: #e90013;
}
.card__plano-preco>p{
    font-size: 2rem;
    font-weight: 800;
    color: #e90013;
    margin: 0;
}
.card__plano-beneficios{
    text-align: left;
    line-height: 1.8;
}
.card__button{
    background-color: #e90013;
    color: #fff;
    border: none;
    padding: 18px 20px;
    border-radius: 20px;
    width: 60%;
    font-size: 1rem;
    text-decoration: none;
    transition-duration: 0.2s;
}
.card__button:hover{
    background-color: #fff;
    color: #e90013;
}
.bounce-top {
	-webkit-animation: bounce-top 1.4s both;
	        animation: bounce-top 1.4s both;
}
.instagram{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.3rem;
    width: 100%; 
    box-sizing: border-box;
    color: #fff;
}
.instagram__photo{
   border-radius: 50%;
   width: 15vw;
   max-width: 223px;
   height: auto;
}
.instagram__id{
    font-size: 1.2rem;
}
.instagram__id img{
    height: 100%;
    width: 1.2rem;
}
.instagram__me-siga{
    font-size: 2rem;
    font-weight: 700;
}
.instagram__me-siga > b{
    box-shadow: inset 0 -0.5rem 0 #ed0719;
}
.instagram__seguir-agora{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    width: 10vw;
    min-width: 140px;
    padding: 18px 18px;
    border-radius: 10px;
    color: #ffff;
    text-decoration: none;
    font-size: 1.2rem;
    background: -webkit-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
}
.instagram__icon{
    fill: #ffff;
    height: 1.2rem;
    width: 1.2rem;
}
@-webkit-keyframes bounce-top {
    0% {
      -webkit-transform: translateY(-45px);
              transform: translateY(-45px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
      opacity: 1;
    }
    24% {
      opacity: 1;
    }
    40% {
      -webkit-transform: translateY(-24px);
              transform: translateY(-24px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    65% {
      -webkit-transform: translateY(-12px);
              transform: translateY(-12px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    82% {
      -webkit-transform: translateY(-6px);
              transform: translateY(-6px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    93% {
      -webkit-transform: translateY(-4px);
              transform: translateY(-4px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    25%,
    55%,
    75%,
    87% {
      -webkit-transform: translateY(0px);
              transform: translateY(0px);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
    100% {
      -webkit-transform: translateY(0px);
              transform: translateY(0px);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
      opacity: 1;
    }
  }
  @keyframes bounce-top {
    0% {
      -webkit-transform: translateY(-45px);
              transform: translateY(-45px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
      opacity: 1;
    }
    24% {
      opacity: 1;
    }
    40% {
      -webkit-transform: translateY(-24px);
              transform: translateY(-24px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    65% {
      -webkit-transform: translateY(-12px);
              transform: translateY(-12px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    82% {
      -webkit-transform: translateY(-6px);
              transform: translateY(-6px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    93% {
      -webkit-transform: translateY(-4px);
              transform: translateY(-4px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    25%,
    55%,
    75%,
    87% {
      -webkit-transform: translateY(0px);
              transform: translateY(0px);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
    100% {
      -webkit-transform: translateY(0px);
              transform: translateY(0px);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
      opacity: 1;
    }
  }