.planos{
    color: #fff;
    background-color: #000;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-family: arial;
    gap: 4rem;
    padding: 2rem 0rem;
    margin-bottom: 3rem;
}
.planos__text-title{
    font-size: 2.2rem;
    font-weight: 800;
    line-height: 1.2em;
    color:#e90013;
}
.planos__text-description{
    color: #FFFFFF7A;
}
.planos__opcoes{
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 8vw;
}
.opcao__card{
    min-width: 280px;
    width: 30vw;
    border-bottom: solid 1px;
    border: 1px solid #e90013;
    background-color: #0d0b0b;
    box-sizing: border-box;
    border-radius: 30px;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    align-items: center;
    line-height: 1.5;
}
.opcao__card:hover{
    border-color: #FFD700;
}
.opcao__card>img{
    width: 50%;
    height: auto;
}
.card__plano-tipo>h3{
    font-size: 1.5rem;
    font-weight: 700;
    color: #e90013;
}
.card__plano-preco>p{
    font-size: 2rem;
    font-weight: 800;
    color: #e90013;
    margin: 0;
}
.card__plano-beneficios{
    text-align: left;
    line-height: 1.8;
}
.beneficio{
    list-style-image: url(../images/check.png);
}
.sinais{
    list-style-image: url(../images/sinais.png);
}
.live{
    list-style-image: url(../images/hot.png);
}
.card__button{
    background-color: #e90013;
    color: #fff;
    border: none;
    padding: 18px 20px;
    border-radius: 20px;
    width: 60%;
    font-size: 1rem;
    text-decoration: none;
    transition-duration: 0.2s;
}
.card__button:hover{
    background-color: #fff;
    color: #e90013;
}
.bounce-top {
	-webkit-animation: bounce-top 1.4s both;
	        animation: bounce-top 1.4s both;
}
@media screen and (min-width: 320px) and (max-width: 480px){
    .planos__text-title{
        font-size: 1.5rem;
    }
    .planos__text-description{
        max-width: 80vw;
    }
    .planos__opcoes{
        flex-direction: column;
        align-items: center;
    }
    .opcao__card{
        width: 80vw;
        padding: 1rem .5rem;
    }
}
@media screen and (min-width: 481px) and (max-width: 768px){
    .planos__opcoes{
        flex-direction: column;
        align-items: center;
    }
    .opcao__card{
        width: 80vw;
        max-width: 445px;
        padding: 1rem;
    }
}
@media screen and (min-width: 769px) and (max-width: 1279px){
    .planos__opcoes{
        gap: 1rem;
    }
    .opcao__card{
        width: 45vw;
    }
}