.suporte{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #000;
    color: #fff;
    box-sizing: border-box;
    padding: 2rem;
    text-align: justify;
}
.suporte__ilustration{
    width: 15%;
    height: auto;
}
.suporte__title{
    color: #e90013;
    font-size: 2rem;
    font-weight: 700;
    margin: 0px 0px 15px 0px;
}
.suporte__text{
    font-size: 1.1rem;
    font-weight: 400;
    margin: 0;
    width: 70vw;
}
/* mobile */
@media screen and (min-width: 320px) and (max-width: 480px){
    .suporte{
        flex-direction: column;
    }
    .suporte__title{
        color: var(--amarelo);
    }
    .suporte__ilustration{
        width: 35vw;
        margin-bottom: 40px;
    }
}
@media screen and (min-width: 481px) and (max-width: 768px){
    .suporte{
        flex-direction: column;
    }
    .suporte__ilustration{
        width: 35vw;
        max-width: 200px;
        margin-bottom: 40px;
    }
    .suporte__title{
        text-align: center;
    }
}