.header__container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color:  var(--branco);
    padding-top: 2rem;
}
.header__img{
    height: auto;
    width: 25vw;
    max-width: 367px;
    min-width: 230px;
    animation: animation-logo 2s ease-in;
}
.header__title{
    font-weight: 700;
    line-height: 1.2em;
    font-size: 2.4rem;
    text-align: center;
    animation: animation-title 2s ease-in;
}
.header__title > b{
    color: var(--vermelho);
}
.header__subtitle{
    font-weight: 500;
    line-height: 25px;
    font-size: 1.6rem;
    animation: animation-title 2s ease-in;
}
@media screen and (min-width: 320px) and (max-width: 480px){
  .header__subtitle{
    text-align: center;
  }
}
@keyframes animation-logo{
    from{
      transform: translatey(-300px);
      opacity: 0%;
    }
    to{
      transform: translatey(0);
      opacity: 100%;
    }
}
@keyframes animation-title{
    from{
      transform: translatex(-600px);
      opacity: 0%;
    }
    to{
      transform: translatex(0);
      opacity: 100%;
    }
  }