.servicos__container{
    display: flex;
    gap: 1rem;
    color: var(--branco);
    justify-content: center;
}
.servico{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1vw;
    padding: 20px 10px 20px 10px;
    border-style: solid;
    border-width: 0px 0px 1px 1px;
    border-color: var(--vermelho-escuro);
    background-color: #000000a1;
    background-image: radial-gradient(at top right,#ff000030 0%,#39DD9400 75%);
    cursor: pointer;
    min-width: 20vw;
    border-radius: 10px;
    text-align: center;
}
.servico>svg{
    height: 30px;
    width: auto;
}
.servico__descricao{
    font-size: 1.4rem;
    color: var(--vermelho);
    font-weight: 600;
}
@media screen and (min-width: 320px) and (max-width: 480px){
    .servicos__container{
        flex-direction: column;
        align-items: center;
    }
    .servico{
        width: 80vw;
    }
}